[package]
name = "wanderways-api"
version = "0.1.0"
edition = "2021"

[dependencies]
futures = "0.3.27"
tokio =  { version = "1.26.0", features = ["macros", "rt-multi-thread"] }
tokio-postgres = "0.7.7"
dotenvy = "0.15"

[dependencies.rocket]
version="0.5.0-rc.2"
features=["json"]